.cell {
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  font-size: x-large;
}

.cell-image {
  width: 30px;
  height: 30px;
}

.empty {
  box-shadow: 0 0 0 4px darkred;
  background-color: #400040;
}

.mine {
  background-color: red;
}
