.app {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  background-color: brown;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
